<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chat Room</title>
  <style>
    /* your styles here */
  </style>
</head>
<body>
<h1>Chat Room</h1>

<div class="chatbox" id="chatbox">
  <!-- Message messages will be dynamically added here -->
</div>

<input class="message-input" id="message-input" type="text" placeholder="Type a message..." disabled>

<button class="button" id="send-button" onclick="sendMessage()" disabled>Send</button>
<button class="button" onclick="location.href='/'">Leave</button>
<button class="button" onclick="showMembers()">Show Active Members</button>

<script src="../static/script/chatroom.js"></script>

</body>
</html>
